<script setup lang="ts">
import { ref } from "vue";
import axios from "../services/axios";
// Define reactive variables for each value
const bodyfat = ref(0);
const age = ref(0);
const weight = ref(0);
const height = ref(0);
const chest = ref(0);
const hip = ref(0);
const thigh = ref(0);
const ankle = ref(0);
const biceps = ref(0);
const forearm = ref(0);
const wrist = ref(0);

// Reactive variable to store predicted muscle weight
const predictedMuscleWeight = ref();

// Function to calculate muscle weight
// Function to calculate muscle weight
const calculateMuscleWeight = async () => {
    try {
        // Prepare input data object
        const InputData = {
            BodyFat: bodyfat.value,
            Age: age.value,
            Weight: weight.value,
            Height: height.value,
            Chest: chest.value,
            Hip: hip.value,
            Thigh: thigh.value,
            Ankle: ankle.value,
            Biceps: biceps.value,
            Forearm: forearm.value,
            Wrist: wrist.value
        };
        console.log(InputData)
        // Send POST request to the backend with inputData directly
        const response = await axios.post("http://localhost:8000/predict/", InputData);
        // Update predicted muscle weight
        predictedMuscleWeight.value = response.data; 
        console.log(response.data.prediction);
        // Assuming the response structure is { "prediction": predictedValue }
    } catch (error) {
        // Handle errors
        console.error("Error:", error);
    }
};

</script>

<template>
    <v-app>
        <v-layout class="backG" align-center>
            <main>
                <v-container fluid>
                    <v-row>
                        <v-col>
                            <!-- ตารางใส่ค่า -->
                            <v-card height="650px" width="840px" theme="dark"
                                class="ma-auto rounded-xl overflow-y-auto">
                                <v-container fluid>
                                    <!-- Body Fat -->
                                    <v-row>
                                        <v-col>
                                            <div class="mt-4 ml-5 text-h5">Body Fat</div>
                                            <v-text-field variant="outlined" label="Body Fat" v-model="bodyfat" />
                                        </v-col>
                                    </v-row>
                                    <!-- Age -->
                                    <v-row>
                                        <v-col>
                                            <div class="mt-4 ml-5 text-h5">Age</div>
                                            <v-text-field variant="outlined" label="Age" v-model="age" />
                                        </v-col>
                                    </v-row>
                                    <!-- Weight -->
                                    <v-row>
                                        <v-col>
                                            <div class="mt-4 ml-5 text-h5">Weight</div>
                                            <v-text-field variant="outlined" label="Weight" v-model="weight" />
                                        </v-col>
                                    </v-row>
                                    <!-- Height -->
                                    <v-row>
                                        <v-col>
                                            <div class="mt-4 ml-5 text-h5">Height</div>
                                            <v-text-field variant="outlined" label="Height" v-model="height" />
                                        </v-col>
                                    </v-row>
                                    <!-- Chest -->
                                    <v-row>
                                        <v-col>
                                            <div class="mt-4 ml-5 text-h5">Chest</div>
                                            <v-text-field variant="outlined" label="Chest" v-model="chest" />
                                        </v-col>
                                    </v-row>
                                    <!-- Hip -->
                                    <v-row>
                                        <v-col>
                                            <div class="mt-4 ml-5 text-h5">Hip</div>
                                            <v-text-field variant="outlined" label="Hip" v-model="hip" />
                                        </v-col>
                                    </v-row>
                                    <!-- Thigh -->
                                    <v-row>
                                        <v-col>
                                            <div class="mt-4 ml-5 text-h5">Thigh</div>
                                            <v-text-field variant="outlined" label="Thigh" v-model="thigh" />
                                        </v-col>
                                    </v-row>
                                    <!-- Ankle -->
                                    <v-row>
                                        <v-col>
                                            <div class="mt-4 ml-5 text-h5">Ankle</div>
                                            <v-text-field variant="outlined" label="Ankle" v-model="ankle" />
                                        </v-col>
                                    </v-row>
                                    <!-- Biceps -->
                                    <v-row>
                                        <v-col>
                                            <div class="mt-4 ml-5 text-h5">Biceps</div>
                                            <v-text-field variant="outlined" label="Biceps" v-model="biceps" />
                                        </v-col>
                                    </v-row>
                                    <!-- Forearm -->
                                    <v-row>
                                        <v-col>
                                            <div class="mt-4 ml-5 text-h5">Forearm</div>
                                            <v-text-field variant="outlined" label="Forearm" v-model="forearm" />
                                        </v-col>
                                    </v-row>
                                    <!-- Wrist -->
                                    <v-row>
                                        <v-col>
                                            <div class="mt-4 ml-5 text-h5">Wrist</div>
                                            <v-text-field variant="outlined" label="Wrist" v-model="wrist" />
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card>
                        </v-col>
                        <v-col>
                            <!-- แสดงคำตอบ -->
                            <v-card class="mx-auto rounded-xl" width="500px" height="200px" theme="dark">
                                <v-card-item>
                                    <div class="text-h4 mb-1">
                                        Predicted Natural Muscle Potential
                                    </div>
                                    <div class="text-caption-h2">
                                        {{ predictedMuscleWeight }}  Kgs<!-- Display predicted muscle weight -->
                                    </div>
                                </v-card-item>
                                <v-card-actions>
                                    <v-btn @click="calculateMuscleWeight">
                                        Calculate
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>

                </v-container>
            </main>
        </v-layout>
    </v-app>
</template>
<style scoped>
.backG {
    background-color: black;
}
</style>
